.sofa-mob-bg {
  display: none;
}
.header-btn-m {
  display: none;
}


@media all and (max-width: 1400px) {
  /* .header-btn-m {
    display: flex;
    
  } */
  .boxes {
    
    width: 100%;
   
    
   
  }
}
@media all and (max-width: 720px) {
  .header-logo-img {
    padding-left: 20px;
  }
  .hero-bg{
    display: none;
  }
  .header-nav {
    display: none;
  }
  .header-btn {
    display: none;
  }
  .header-btn-m {
    display: flex;
    
  }

  .best-c{
  }
    .hero-h1{
    font-size: 44px;
    }
  
    .hero-img-m{
      display: block;
      width: 100%;
}
    
  .boxes-content{
    display: flex;
    height: 1200px ;
  }

  .boxes{
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    overflow-x: none;
    height: 100%;
  }
  .box-img{
    
  }
  .sofa-bg {
    display: none;
  }
  .sofa-mob-bg {
    display: block;
    width: 100%;
  }
  .sofa-c{
    align-items: flex-start;
  
  }
  .sofa-c-block {
    margin-top: 10%;
  }
  


.info h2 {
  display: flex;
  justify-content: center;
}
.info-boxes {
  flex-wrap: wrap;
  
}
.info-box {
  margin-top: 60px;
}
.project-c-img{
  
}
.project-images{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  /* width: 100%;
  flex-direction: column;
  align-items: center; */
  }
  .project-images{
    /* display: flex; */
    /* gap: 40px; */
    /* width: 100%; */
    /* overflow-x: auto; */
    
  }
  .project-img {
    min-width: auto;
    width: 160px;

  }
  .project-img img{
    width: 100%;
  }
  .comments-cont{
    flex-wrap: wrap;
  }
  .comment-l{
    flex-direction: column;
    justify-content: center;
  }
  .comments-conteiner {
    height: 100%;}
 .comment-l img{
  justify-content: end;
width: 144px;
height: 200px; }
.comment-text img{
  display: block;
  width: 32px;
height: 32px;
}
.comments-cont{
  
}
.comments-img{
  

}

  .comment-r{
    display: none;
  }
  .contact-c {
    /* flex-direction: column; */
    display: block;
  }
  .contact-images {
left: 0;
position: relative;
/* top:600px; */
min-width: 375px;
width: 100%;
height: auto;

display: flex;
justify-content: flex-end;
/* height: 200px; */

}
.cont-img3 {
  position: static !important;
  height: auto;
  width: 50%;
z-index: 1;
}
.cont-img2{
  min-width: auto;
  position: absolute;
  left:  32%;
  min-width: 169px;
height: 56%;
z-index: 2;
  

}
.cont-img2 img{
  width: 105%;
  min-width: 169px;
}
.cont-img1{
 left: 0;
 z-index: 3;
width: 44%;
}
.foot-r {
  display: none;
}
.foot-cont {
  flex-wrap: wrap;
}
.foot-cont2 {
  flex-wrap: wrap;
}
}
@media all and (min-width: 720px) {
  
}



