@media all and (max-width:720px) {
  .header-logo-img{
    padding-left: 20px;
  }
  .header-nav{
    display: none;
  }
  .header-btn{
        display: none;
    }
}
.info-c {
  padding-left: 20px;
  padding-top: 89px;
  padding-bottom: 69px;
}
.info h2 {
  display: flex;
  justify-content: center;
}
.info-boxes {

  flex-wrap: wrap;
}
.info-box {
  margin-top: 60px;}
@media all and (min-width:719px){
    .header-btn-m{
      display: none ;
    }
  }