.sofa-mob-bg {
  display: none;
}
.header-btn-m {
  display: none;
}
@media all and (max-width: 1400px) {
  .boxes {
    
    /* width: calc((100vw - 1400px) / 2 + 1400px); */
    width: 100%;
   
  }
}
@media all and (max-width: 720px) {
  .header-logo-img {
    padding-left: 20px;
  }
  .header-nav {
    display: none;
  }
  .header-btn {
    display: none;
  }
  .best-c{
    
    
  }
  .boxes-content{
    display: flex;
    height: 1200px ;
  }

  .boxes{
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    overflow-x: none;
    height: 100%;
  }
  .box-img{
    
  }
  .sofa-bg {
    display: none;
  }
  .sofa-mob-bg {
    display: block;
    width: 100%;
  }
  .sofa-c{
    align-items: flex-start;
  
  }
  .sofa-c-block {
    margin-top: 10%;
  }
  


.info h2 {
  display: flex;
  justify-content: center;
}
.info-boxes {
  flex-wrap: wrap;
  
}
.info-box {
  margin-top: 60px;
}
.project-c-img{
  
}
.project-images{
  flex-wrap: wrap;
  }
  .comment-l{
    flex-direction: column;
  }
  .comments-conteiner {
    height: 100%;}
/* .comment-l img{
  width: 144px;
height: 200px; */
.comments-cont{
  width: 100%;
}
.comments-img{
  width: 144px;
height: 200px;
align-items: center;

}

  .comment-r{
    display: none;
  }
  .contact-c {
    /* flex-direction: column; */
    display: block;
  }
  .contact-images {
left: 0;
position: relative;
/* top:600px; */
min-width: 375px;
width: 100%;
height: auto;
background-color: red;
display: flex;
justify-content: flex-end;
/* height: 200px; */

}
.cont-img3 {
  position: static !important;
  height: auto;
  width: 50%;
}
.foot-r {
  display: none;
}
.foot-cont {
  flex-wrap: wrap;
}
.foot-cont2 {
  flex-wrap: wrap;
}
}
@media all and (min-width: 720px) {
  
}



