* {
  margin: 0;
  padding: 0;
  background-color: transparent;
  text-decoration: none;
  border: none;
}

body {
  /* font-family: "Inter", sans-serif; */
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.maxW1400 {
  width: 98%;
  max-width: 1400px;
}
.center {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  color: black;
}

/* header */

.header-c {
  /* background: url(./images/Rectangle\ 2.png); */
  padding: 24px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 28px;
  padding-right: 28px;
  background-color: #507c61;
}
.header-logo {
  display: flex;
  justify-content: space-between;
}
.header-logo-c {
  display: flex;

  gap: 30px;
}

.header-logo-img {
  display: flex;
  gap: 12px;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  /* max-width: 200px;  */
  /* margin-right: 20px; */
  align-items: center;
  gap: 32px;
}
.header-btn {
  display: flex;
  max-width: 126px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 80px;
  background: #f16f4f;
}
.header-btn-m {
  position: fixed;
  width: 33px;
  height: 20px;
  top: 20px;
  right: 30px;
  cursor: pointer;
  transition: all 1s;
}
.header-btn-m div {
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 5px;
  transition: all 0.6s;
  left: 0;
}
.header-btn-m div:nth-child(1) {
  top: 0;
}
.header-btn-m div:nth-child(2),
.header-btn-m div:nth-child(3) {
  top: 10px;
}
.header-btn-m div:nth-child(4) {
  top: 20px;
}
/* focus active hover */

.header-btn-m:hover div:nth-child(1) {
  top: 10px;
  width: 0;
  left: 50%;
}
.header-btn-m:hover div:nth-child(2) {
  transform: rotate(45deg);
}
.header-btn-m:hover div:nth-child(3) {
  transform: rotate(-45deg);
}

.header-btn-m:hover div:nth-child(4) {
  top: 10px;
  width: 0;
  left: 50%;
}

/* hero */

.hero {
  display: flex;
}
/* .hero-c {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 12px;
  padding-top: 56px;

  height: 820px;
  height: 400px;

  height: 60vw;
  max-height: 800px;
  
  background: url(../studyproject2/images/hero-bg-desktop.png) 0 0 / 100% 100% no-repeat;
 
} */
.hero-c {
  position: relative;
  width: 100%;
  max-width: 1800px;
  display: flex;
  justify-content: center;
}
.hero-c-block {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
}
.hero-bg {
  width: 100%;
}
/* .testBg {
/* width: 1300px;
height: 800px; */
/* width: 500px; */
/* width: 100%;
max-width: 1200px; */

.hero p {
  display: flex;
  font-size: 20px;
}

.hero-h1 {
  display: flex;

  justify-content: center;
  font-size: 14vh;
  color: #000;
  text-align: center;
}

.hero-title-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 16px;
  margin-top: 40px;
  max-width: 242px;
  width: 100%;
  max-height: 56px;
  height: 100%;
  background: linear-gradient(94.92deg, #f26440 -23.03%, #ef7d60 122.53%);
  border-radius: 4px;
}

/* section info */

/* display: flex;
  background-color: rgb(208, 170, 192);
  justify-content: space-between;
} */
.info {
  display: flex;
}
.info h2 {
  font-size: 60px;
}
.info-c {
  display: flex;

  flex-direction: column;
  padding-bottom: 142px;
  /* padding: 133px 133px 133px 133px; */
}
.info-boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 15px;
  align-items: stretch;
  margin-top: 60px;
}
.info-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.info-box p {
  display: flex;
  align-items: baseline;
}
.info-o {
  display: flex;
  color: #f26440;
  gap: 8px;
}

/* best-boxes */

.best-prod {
  padding-top: 160px;
  padding-bottom: 114px;
  background-color: rgb(240, 249, 215);
}

.best-c {
  display: flex;
  flex-direction: column;
  gap: 35px;

  /* max-height: 800px;
  height: 100%; */
  /* padding-left:  103px; ; */

  /* overflow-x: auto;
  overflow-y: hidden; */
}
.best-c h2 {
  font-size: 60px;
}
.boxes-content {
  margin-top: 72px;
  width: 100%;
  background-color: red;
  height: 360px;
  position: relative;
}
.boxes {
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  width: calc((100vw - 1400px) / 2 + 1400px);
  background-color: grey;
  overflow-x: auto;
  /* background-color: #000; */
  gap: 24px;
  /* flex-wrap: wrap; */
}
.box {
  width: 400px;
  background-color: green;
  display: flex;
  flex-direction: column;
}

.box-img {
  display: flex;
  justify-content: center;
  width: 240px;
  height: 240px;
  height: 100%;
  background-color: #f8f4f2;
  padding: 32px 32px 32px 32px;
}
.box-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.box-text p {
  color: grey;
}
.cost {
  color: #f26440 !important;
}

/* Sofa */
.sofa {
  position: relative;
  display: flex;
  justify-content: center;
}
.sofa-c {
  display: flex;
  align-items: center;
}
.sofa-c-block {
  position: absolute;
  /* top: 0; */
  display: flex;
  flex-direction: column;
  /* padding-top: 141px;
    padding-left: 103px; */
  /* padding-bottom: 183px; */
}
.button {
  display: flex;
  background-color: #f17252;
  width: 168px;
  margin-top: 72px;
  justify-content: space-around;
}
.sofa-btn {
  background-color: #f17252;
  padding: 12px 16px;
  color: white;
}
.sofa-bg {
  max-width: 100%;
  min-height: 450px;
  height: auto;
}
.sofa h2 {
  color: #000;
  font-size: 60px;
}
.orange {
  color: #f26440;
}
.colors {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}

.a-colors {
  margin-top: 16px;
  display: flex;
  gap: 16px;
}
.contact {
  background-color: #507c61;
}
.contact-c {
  display: flex;
  position: relative;
  padding: 142px 0 270px 0;
}

.contact-text {
  /* padding-top: 142px; */
  display: flex;
  flex-direction: column;

  max-width: 740px;
  position: relative;
}
.contacts {
  display: flex;

  max-width: 340px;
}
.contact-btn {
}
.contact-images {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  
}
.contact-images img {
  position: absolute;
  z-index: 20;
}
.cont-img3 {
  height: 100%;
  right: 0;
  /* position: absolute; */
}
.cont-img2 {
  right: 100px;
  bottom: 0;
  height: 50%;
}
.cont-img1 {
  /* position: absolute; */
}

/* footer */
.footer {
  margin-top: 200px;

}
.footer-c {
  position: relative;
  bottom: 0px;
  background-color: #0F3141;
  display: flex;
  flex-direction: column;
  color: white;
}
.footer-up{
  display: flex;

}
.foot-l {
  display: flex;
  flex-direction: column;
}
.foot-l{
  font-size: 18px;
font-family: Poppins;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.36px;
}

.foot-cont {
  display: flex;
  gap: 20px;
  margin-top: 48px;
}
.foot-cont2 {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.foot-r {
  display: flex;
  justify-content: space-between;
}
.foot-r p{
  font-size: 14px;
font-family: Inter;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;
}
.footer-last {
  display: flex;
  justify-content: space-between;
  max-width: 1350px;
}
.foot-last-c {
  display: flex;
  gap: 20px;
  color: #75919E;
}
.foot-line{
  width: 100%;
  height: 1px;
  margin-top: 20px;
  background-color: aliceblue;
}
.foot-last-icons{
  display: flex;
  gap: 10px;
}



body div.cont #elems {

}

