* {
    margin: 0;
    padding: 0;
    background-color: transparent;
    text-decoration: none;
    border: none;
}
a{
    color: black;
}
.header{
    display: flex;
    
}
.header-c{
/* background: url(./images/Rectangle\ 2.png); */
background-repeat: no-repeat;
 display: flex;
max-width: 1440px;
width: 100%;
max-height: 114px;
height: 100%;

padding-top: 30px;

background-color: #507c61;
}
.header-logo-c{
    display: flex;
    gap:65px;
    align-items: center;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    max-width: 200px;
    margin-right: 20px;
    align-items: center;
    gap: 32px;
    
}
.hero h1{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.hero-title-btn{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 16px;
gap: 16px;

width: 242px;
height: 56px;


background: linear-gradient(94.92deg, #F26440 -23.03%, #EF7D60 122.53%);
border-radius: 4px;
}

    

/* section info */

.info{
    display: flex;
    background-color: white;

}
.info-c{
    display: flex;
    flex-direction: column;
    max-width: 1260px;
}
.info-boxes{
    display: flex;
   

align-items: flex-start;
}
.info-box{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 16px;
align-self: stretch;
max-width: 360px;
}